
body {
    background-color: #121212;
    color: #d0d0d0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.nav {
    display: grid;
    grid-template-rows: auto auto; /* Two rows: one for h1 and one for h2s */
    align-items: center; /* Center items vertically */
}

.h2-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.h2-container a{
    color: #fff;

}

.nav h1 {
    margin: 0; /* Remove default margin */
}

.nav h2 {
    margin: 0; /* Remove default margin */
    font-size: smaller; /* Make font size smaller */
}


.modelType {
    display: inline-block;
    margin: 0 10px;
}

.modelType a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.modelType a:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}
/* Container Styles */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

/* Box Styles */
.box {
    background-color: #1c1c1c;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    
}

a {
    color: #00ca6c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.box:hover {
    transform: scale(1.05);
}


.box-info {
    margin-bottom: 20px;
}

.box-info h2 {
    color: #00ca6c;
    margin: 0;
}

.box-info p {
    color: #ffffff;
    margin: 10px 0;
}

.box-img img {
    width: 100%;
    border-radius: 10px;
    
}


#info {
  
    background-image: radial-gradient(circle, #a8ffd7 0%,#3bffa4 45%, #19ff94 50%, #ffffff 100%);
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: #121212;
}

#info h1 {
    margin: 0;
    color: #000000;
}

#info p {
    color: #000000;
    font-size: 16px;
    margin: 20px 0;
}


.modelType a:active {
    background-color: #777; /* Change to a darker shade on click */
    transition-delay: 0.5s; /* Add slight delay for smoother transition */
}